body{
  background-color: rgb(245, 236, 236);
}
.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.login-card{
  margin-top: 12rem;
}
.message-error{
  
  color: rgb(141, 13, 13);
  padding: 0.1rem;
  margin: auto;
  margin-bottom: 2rem;
  width: 60%;
  border: 0.2rem solid rgb(219, 22, 22);
  background-color: #f09c9c;
}
.message-success{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: rgb(1, 100, 50);
  padding: 0.1rem;
  margin: auto;
  margin-bottom: 2rem;
  width: 60%;
  border: 0.2rem solid rgb(143, 253, 189);
  background-color: #b2ebb7;
}
input{
  width: 20%;
  padding: 0.6rem;
  display: block;
  margin: auto;
  margin-bottom: 0.9rem;
  border: 0.19rem solid rgb(0, 0, 0);
}
.submit{
  background-color: rgb(247, 188, 155);
  padding: 0.6rem;
  border-radius: 2%;
  width: 10%;
  color: rgb(124, 41, 8);
  border:  0.3rem solid  rgb(236, 101, 48);
  font-style: oblique;
  font-weight: bold;
  font-size: medium;
}
.user-list{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.user-card{
 background-color: rgb(241, 233, 222);
 padding: 1rem;
 margin: 2rem;
 box-shadow: .8rem .4rem #181414;  
 border:  0.3rem solid  #000000;

}
.user-card:hover{
  transform: scale(1.1);
}
.user-icon{
  
  background-color: #61dafb;
  
  height: 10rem;
  padding: 0.1em;
  margin: .2em;
}
.user-label{
  color: #f18383;
  text-align: left;
  margin: auto;
}
.button-transparent{
  color: rgb(61, 24, 24);
  padding: 0.2rem;
  margin: 2rem;
  border:  0.2rem solid #412727;
  border-radius: 5%;
  font-style: oblique;
  background-color:rgb(240, 223, 223);
  font-weight: bold;
  font-size: medium;
}
.button-transparent:hover{
  transform: scale(1.1);
}
.button-block{
  background-color:rgb(44, 8, 4);
  color:rgb(240, 223, 223);
  padding: .5rem;
  margin: 2rem;
  border:  0.3rem solid rgb(44, 8, 4);
  box-shadow: none;
  font-style: oblique;
  border-radius: 5%;
  font-weight: bold;
  font-size: medium;
}
.button-block:hover{
  transform: scale(1.1);
}
.dashboard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: none;
  margin: 0%;
}
